/* 
Base stylesheet
*/

body
{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 20px;
}

.user-input
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2d2d2d;
    color: #d4d4d4;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    box-sizing: border-box;
}

.user-input:focus
{
    outline: none;
    border-color: #007acc;
}

.user-input:hover
{
    border-color: #555555;
}

/*
Styles for user commands and game responses
*/

p.user-command
{
    color: #569cd6;
    font-weight: bold;
}

p.command-response
{
    color: #dcdcaa;
}

p.location-description
{
    color: #9cdcfe;
}

p.exits-description
{
    color: #ce9178;
}